    body {
        margin: 0;
        text-align: center;
    }
    
    .top_container {
        background-color: #beebe9;
        margin-bottom: 30px;
    }
    
    h1 {
        font-family: 'Kaushan Script', cursive;
        font-size: 4.5em;
        margin: 80px auto 0 auto;
        padding-bottom: 10px;
    }
    
    p {
        margin-bottom: 0;
        font-family: cursive;
        font-size: 2em;
        line-height: 2;
    }
    
    .domain {
        padding-bottom: 15px;
    }
    
    .cloud1 {
        position: absolute;
        right: 300px;
        top: 50px;
    }
    
    .cloud2 {
        position: absolute;
        left: 150px;
    }
    
    .profile_image,
    .blockchain_image,
    .web_image {
        height: 200px;
        width: 200px;
        border-radius: 100%;
    }
    
    .blockchain_image {
        float: left;
        margin-right: 20px;
    }
    
    .web_image {
        float: right;
    }
    
    .skill_row {
        text-align: left;
        width: 60%;
        margin: auto;
        padding-bottom: 28px;
    }
    
    .top_container {
        position: relative;
        padding-top: 100px;
    }
    
    .section_heading {
        font-size: 50px;
        padding-bottom: 30px;
    }
    
    a,
    h3,
    h2 {
        color: #11999E;
    }
    
    .profile,
    .skills {
        font-size: 10px;
    }
    
    h2 {
        font-size: 2rem;
    }
    
    .line_1 {
        width: 40%;
        margin: 100px auto;
    }
    
    .btn {
        background-color: lightseagreen;
        color: white;
        width: 30%;
        font-size: 20px;
        border-radius: 30px;
        padding: 10px;
        text-decoration: none;
        margin-bottom: 20px;
    }
    
    .btn:hover {
        background-color: darkcyan;
    }
    
    .proposal {
        font-size: 25px;
        padding-bottom: 15px;
    }
    
    .bottom_container {
        background-color: cornflowerblue;
        height: 200px;
        text-align: center;
    }
    
    .footer_link {
        text-decoration: none;
        font-size: 20px;
        padding: 15px;
        text-align: center;
        color: rgb(192, 112, 8);
        position: relative;
        top: 70px;
    }
    
    .footer_link:hover {
        color: white;
    }
    
    .copyright {
        font-size: 18px;
        margin-bottom: 0;
        position: relative;
        top: 70px;
    }
